h1{
  font-family: sans-serif;
  font-size: 25px;
}
body{
  background-color: rgba(173,216,230) ;
}
img.mine{
   border-radius: 50%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 p{
   font-family: sans-serif;
   font-weight: bold;
   font-size: 20px;
 }
